@import url('https://rsms.me/inter/inter.css');

.additional__text {
  max-width: 248px;
  margin: 0 18px 30px 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Inter', Arial, sans-serif;
}
