/* .place__image { 
  width: 460px;
  height: 460px;
  margin: 60px 0 0 0;
}

@media (max-width: 1024px) { 
  .place__image {
    width: 440px;
    height: 440px;
	margin: 32px 0 0 24px;
  } 
}

@media (max-width: 768px) { 
  .place__image {
    width: 340px;
    height: 340px;
  } 
} */

.place__image { 
  max-width: 460px;
  height: 460px;
  margin: 60px 0 0 0;
}

@media (max-width: 1024px) { 
  .place__image {
    max-width: 440px;
    height: 440px;
	  margin: 32px 0 24px 0;
  } 
}

/*@media (max-width: 768px) { 
  .place__image {
    max-width: 340px;
    height: 340px;
	  margin: 32px 0 24px 24px;
  } 
}*/

@media (min-width: 768px) and (max-width: 1023px) { 
  .place__image {
    max-width: 340px;
    height: 340px;
	  margin: 32px 0 24px 24px;
  } 
}

@media (max-width: 450px) { 
  .place__image {
    max-width: 100%;
    height: auto;
	  margin: 32px 0 24px 0;
  } 
}