.comments__container {
  display: flex;
  max-width: 1184px;
  margin: auto;
  justify-content: space-between;
}

@media (max-width: 768px) { 
  .comments__container{    
    flex-direction: column;
  } 
}
