@import url('./__logo/header__logo.css');
@import url('./__langs/header__langs.css');
@import url('./__lang/header__lang.css');
@import url('./__link/header__link.css');
@import url('./__link/_selected/header__link_selected.css');
@import url('https://rsms.me/inter/inter.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 16px 48px 16px;
  min-height: 52px;
  max-width: 1184px;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 1024px) { 
  .header {
    padding: 30px 48px 48px 48px;
  } 
}

@media (max-width: 768px) { 
  .header {
    padding: 30px 24px 48px 24px;
  } 
}

@media (max-width: 375px) { 
  .header {
    padding: 30px 16px 48px 16px;
  } 
}
