@import url('https://rsms.me/inter/inter.css');

.footer__copyright {
  max-width: 282px;
  padding-top: 10px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  font-family: 'Inter', Arial, sans-serif;
}

@media (max-width: 700px) { 
  .footer__copyright {
    padding-top: 48px;
    padding-left: 0;
    align-self: flex-start;
  } 
}
