@import url('https://rsms.me/inter/inter.css');

.intro__list-item {
  max-width: 383px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}


@media (max-width: 375px) { 
  .intro__list-item {
    font-size: 12px;
    line-height: 19px;
  } 
}