.comments__image {
  width: 97px;
  height: 97px;
  border-radius: 97px;
  margin-left: 16px;
  margin-right: 16px;
}

@media (max-width: 768px) { 
  .comments__image{
	display: block;  
    margin: auto;
  } 
}
