@import url('https://rsms.me/inter/inter.css');

.comments__quote {
  max-width: 382px;
  margin: 42px 0 24px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Inter', Arial, sans-serif;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 768px) { 
  .comments__quote{
	order: 3;
	margin: auto;
	padding-left: 16px;
    padding-right: 16px;
	font-size: 16px;
    line-height: 23px;
  } 
}