@import url('./__container/additional__container.css');
@import url('./__item/additional__item.css');
@import url('./__item/_background-image/_nvr/additional__item_background-image_nvr.css');
@import url('./__item/_background-image/_shi/additional__item_background-image_shi.css');
@import url('./__item/_background-image/_che/additional__item_background-image_che.css');
@import url('./__item/_background-image/_nik/additional__item_background-image_nik.css');
@import url('./__heading/additional__heading.css');
@import url('./__text/additional__text.css');
@import url('../content-title/_line-height/_m/content-title_line-height_m.css');


.additional {
  max-width: 1184px;
  margin: auto;
  padding: 0 0 102px 0;
}
