@import url('./__links/footer__links.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
  max-width: 1184px;
  margin: auto;
  padding: 102px 16px 48px 16px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) { 
  .footer {    
    flex-direction: column;
  } 
}