.video__container {
  display: flex;
  max-width: 1184px;
  margin: auto;
  justify-content: space-between;
}

@media (max-width: 1024px) { 
  .video__container {
    padding: 0 48px 0 48px;
  } 
}

@media (max-width: 1024px) { 
  .video__container {
    padding: 0 24px 0 24px;
  } 
}

/*@media (max-width: 620px) { 
  .video__container {
    flex-wrap: wrap;
    padding: 0 16px 0 16px;
    justify-content: center;
  } 
}
*/
@media (max-width: 665px) { 
  .video__container {
    flex-wrap: wrap;
    padding: 0 16px 0 16px;
    justify-content: center;
  } 
}